@import "tailwindcss";

@theme {
            /* Özel Renk Tanımları */
            --color-primary: #3b82f6;
            --color-dark: #111827;
            --color-darker: #030712;
            --color-light: #f3f4f6;

            /* Özel Font Tanımı */
            --font-sans: 'Inter', sans-serif;
        }